@using MeetUp
@model dynamic
@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <title>Registration</title>
</head>
<body style="background-color: purple; margin: 0; padding: 0">
    
    <h2 style="text-align:center; color:black">Twój profil</h2>
    <div style="height:40px"></div>
    <div style="color:black">
        @using (Html.BeginForm())
        {
            <div style="height:40px"></div>
            <table>
                <tr class="form-group" style="height:40px">
                    <td style="text-align: right; font:800; font-size:large; color: black">Login: </td>
                    <td style="text-align: left; font:800; font-size:large; color: black">@Model.User.login</td>
                </tr>
                <tr class="form-group" style="height:40px">
                    <td style="text-align: right; font:800; font-size:large; color: black">Imię: </td>
                    <td style="text-align: left; font:800; font-size:large; color: black">@Model.User.name</td>
                </tr>
                <tr class="form-group" style="height:40px">
                    <td style="text-align: right; font:800; font-size:large; color: black">Nazwisko: </td>
                    <td style="text-align: left; font:800; font-size:large; color: black">@Model.User.surname</td>
                </tr>
                <tr class="form-group" style="height:40px">
                    <td style="text-align: right; font:800; font-size:large; color: black">Wiek: </td>
                    <td style="text-align: left; font:800; font-size:large; color: black">@Model.User.age</td>

                </tr>

            </table>
        }
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Liczba biletów</th>
                <th>Miejsce</th>
                <th>Data</th>
            </tr>
            @foreach (var e in Model.Events)
            {
            <tr>
                <td>
                    @e.Id
                </td>
                <td>
                    @e.Name
                </td>
                <td>
                    @e.number
                </td>
                <td>
                    @e.palce
                </td>
                <td>
                    @e.Date
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit") |
                    @Html.ActionLink("Details", "Details") |
                    @Html.ActionLink("Delete", "Delete")
                </td>
            </tr>
            }
        </table>


    </div>
</body>
</html>
