IEnumerable<MeetUp.Models.User>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>




        img {
            width: 100%;
        }

        .czesc {
            float: right;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 30px;
            font-size: 15px;
        }

        .czesc_log {
            color: white;
        }



        .name {
            float: left;
            margin-right: 20px;
            margin-top: 20px;
        }

        .logo {
            color: white;
            text-decoration: none;
            font-size: 30px;
        }

        body {
            background-color: indigo;
            color: white;
        }

        .czesc_log:hover {
            background-color: black;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">


            <div class="name">

                <a class="logo" href="@Url.Action("Index", "Home")">MEETUP </a>
            </div>


            @if (Session["login"] != null)
            {
                <div class="czesc"><a class="czesc_log" href="@Url.Action("Wyloguj", "Home")">Wyloguj</a></div>
                <div class="czesc"><a class="czesc_log" href="@Url.Action("Profil", "Home")">Mój profil</a></div>
            }          
            else
            {
            <div class="czesc"><a class="czesc_log" href="@Url.Action("Logowanie", "Home" )">Zaloguj</a></div>
            <div class="czesc"><a class="czesc_log" href="@Url.Action("Rejestracja", "Home" )">Zarejestruj się</a></div>
            }
            <div class="czesc">
                <a class="czesc_log" href="@Url.Action("Rezerwuj", "Home")">Rezerwuj Online</a>
            </div>
            <div class="czesc">
                <a class="czesc_log" href="@Url.Action("Index", "Home")">Home</a>
            </div>
        </div>

    </div>


    <div class="container body-content">
        @RenderBody()


    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>